body{
    background: whitesmoke;
}

.calculator{
    background: #0f0f0f;
    padding: 20px;
    margin: 20px 500px;
    height: 580px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px lightblue;
}

.calculator__display{
    display: flex;
    justify-content: end;
    background: whitesmoke;
    color: black;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px  lightgoldenrodyellow;
    padding: 15px;
    font-size: 2rem;
}

.calculator__keys{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: 80px;
    gap: 10px;
    margin-top: 20px;
}

.numero {
    background: whitesmoke;
    border-style: none;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 2px 2px 5px lightyellow;
}
.numero:hover{
    background: lightyellow;
    cursor: pointer;
}
.key--operator{
    background: darkgreen;
    border-style: none;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 2px 2px 5px lightgreen;
    color: whitesmoke;
}
.key--operator:hover{
    background: green;
    cursor: pointer;
}

.key--equal{
    background: darkgreen;
    border-style: none;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 2px 2px 5px lightgreen;
    color: whitesmoke;
}
.key--equal:hover{
    background: darkgreen;
    cursor: pointer;
}

.apaga{
    background: darkred;
    border-style: none;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 2px 2px 5px lightcoral;
    color: whitesmoke;
}
.apaga:hover{
    background: red;
    cursor: pointer;
}

