body{
    background: lightgray;
}

.calculator{
    background: #3C3C40;
    padding: 15px;
    margin: 20px 450px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #BFADA8;
}

.calculator__display{
    display: flex;
    justify-content: end;
    background: #F2F2F2;
    color: black;
    border-radius: 5px;
    padding: 15px;
    font-size: 2rem;
}

.calculator__keys{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: 80px;
    gap: 10px;
    margin-top: 20px;
}

.numero {
    background: #3C3C40;
    color: #F2F2F2;
    border-style: none;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 2px 2px 5px gray;
}
.numero:hover{
    background: lightgray;
    cursor: pointer;
    color: #3C3C40;
}
.key--operator{
    background: #3C3C40;
    border-style: none;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 2px 2px 5px gray;
    color: #03A688;
}
.key--operator:hover{
    background: lightgray;
    cursor: pointer;
}

.key--equal{
    background: #3C3C40;
    border-style: none;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 2px 2px 5px gray;
    color: #03A688;
}
.key--equal:hover{
    background: lightgray;
    cursor: pointer;
}

.apaga{
    background: #3C3C40;
    border-style: none;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 2px 2px 5px gray;
    color: red;
}
.apaga:hover{
    background: lightgray;
    cursor: pointer;
}

.rodape{
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    font-family: monospace;
}
